
<!DOCTYPE html>
<html lang="en">
<head>
<title> <%= title %> </title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>

<style>
body { 
  padding-top: 65px; 
}
</style>


</head>



<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">

      <a class="navbar-brand" href="/">Fountain</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/cierre/2021-12-31">Ingresos Mensuales </a></li>
        <li><a href="/contratos">Ingresos por Contratos</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contratos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/agregarContrato">Agregar</a></li>
            <li><a href="/modificarContratos">Modificar</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias Precios <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/agregarPrecio">Agregar</a></li>
            <li><a href="/modificarPrecios">Modificar</a></li>
          </ul>
        </li>



      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>