
<!DOCTYPE html>
<html lang="en">
<head>
<title> <%= title %> </title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
</head>


<body>
    <%# console.log(fecha) %> 
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
          <a class="navbar-brand" href="/">Fountain</a>
          <ul class="nav navbar-nav">            
            <li><a href="/cierre/2021-12-31">Ingresos Mensuales </a></li>
            <li><a href="/contratos">Ingresos por Contratos</a></li>
            <li><a href="/modificarContratos">Modificar Contratos</a></li>
            <li><a href="/modificarPrecios">Modificar Precios</a></li>
            <!-- <li><a href="noviembre">Ingresos - Noviembre 2021</a></li>
            <li><a href="diciembre">Ingresos - Diciembre 2021</a></li>
            <li><a href="enero">Ingresos - Enero 2022</a></li>
            <li><a href="febrero">Ingresos - Febrero 2022</a></li> -->
          </ul>
    </div>
    </nav>
</div>