
<%- include('partials/header', { title: "Cargar Data Aplicación" } )%>


<div class="container theme-showcase" role="main">

    <table id="customers">
        <tr>

            <th>Nombre Archivo</th>
            <th>Tamaño</th>
            <th>Fecha</th>
            <th>Versión</th>
            <!-- <th>Precio Base USD MWh</th>
            <th>Cargo Transmisión</th>
            <th>Precio </th>                    -->
        </tr>

                <tr>
                    <td>Cuadro de Contratos Actualizado</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-xs btn-success"  onclick= "" > Seleccionar Archivo </button></td>                
                </tr>
            

                <tr>
                    <td>Contratos Empresas Distribuidoras</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-xs btn-success"  onclick= "" > Seleccionar Archivo </button></td>                
                </tr>

                <tr>
                    <td>Conversión a Energia Adenda</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-xs btn-success"  onclick= "" > Seleccionar Archivo </button></td>                
                </tr>


    </table>

    </div>
</div>

</body>

