
<%- include('partials/header', { title: "Cargar Data Aplicación" } )%>


<div class="container theme-showcase" role="main">


    <form id="uploadForm" enctype ="multipart/form-data" action= "upload" method="post">
    <label for="formFileSm" class="form-label" style="width: 150px; display:inline-block; margin-left:10px">Liquidacion Fountain  </label>    
    <input type="file" name="file" class="form-control form-control-sm" style="width: 500px; display:inline-block; margin-left:10px"/>   
    
    <input  type="submit"  class="btn btn-xs btn-success" value="Cargar" name="submit">
    </form>

    

    
    <form id="uploadForm" enctype ="multipart/form-data" action= "upload" method="post">
    <label for="formFileSm" class="form-label" style="width: 150px; display:inline-block; margin-left:10px">Totales por Contratos</label>    
    <input type="file" name="file" class="form-control form-control-sm" style="width: 500px; display:inline-block;  margin-left:10px"/>           
    <input  type="submit"  class="btn btn-xs btn-success" value="Cargar" name="submit">
    </form>
    


    <table id="customers">
        <tr>

            <th>Nombre Archivo</th>
            <th>Tamaño</th>
            <th>Fecha</th>
            <th>Versión</th>
            <!-- <th>Precio Base USD MWh</th>
            <th>Cargo Transmisión</th>
            <th>Precio </th>                    -->
        </tr>
<!-- 
                <tr>
                    <td>Detalle Pérdida</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-xs btn-success"  onclick= "" > Seleccionar Archivo </button></td>                
                </tr> -->
            

                <tr>
                    <td>Balance de Potencia</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-xs btn-success"  onclick= "" > Seleccionar Archivo </button></td>                
                </tr>

                <tr>
                    <td>Generación Obligada</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-xs btn-success"  onclick= "" > Seleccionar Archivo </button></td>                
                </tr>

                <tr>
                    <td>Servicios Auxiliares</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-xs btn-success"  onclick= "" > Seleccionar Archivo </button></td>                
                </tr>

                <!-- <tr>
                    <td>Totales por Contratos (Empresa Distribuidora) </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-xs btn-success"  onclick= "" > Seleccionar Archivo </button></td>                
                </tr>

                <tr>
                    <td>Totales por Contratos </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-xs btn-success"  onclick= "" > Seleccionar Archivo </button></td>                
                </tr> -->

                
                
                <tr>
                    <td>Contratos por Fecha y Tipo Precio </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-xs btn-success"  onclick= "" > Seleccionar Archivo </button></td>                
                </tr>
                
                
                <tr>
                    <td>Tipos de Precio </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-xs btn-success"  onclick= "" > Seleccionar Archivo </button></td>                
                </tr>

                
                <tr>
                    <td>Resumen de Generación (Energy Balance) </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-xs btn-success"  onclick= "" > Seleccionar Archivo </button></td>                
                </tr>

    </table>

    </div>
</div>

</body>

