<%- include('partials/header', {title:"App Fountain"})  %> 

<div class="container theme-showcase" role="main">

    <div class="jumbotron">
        <h1>Fountain Corp</h1>
        <p>Aplicación para Data Interna del Centro Nacional de Distribución Panamá</p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Lanzar App</a></p> -->
    </div>


</div>

<footer class="footer">

    <span class="text-muted">  </span>
  
</footer>

</body>
</html>