<!DOCTYPE html>
<html>
   <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/login.css">  
  </head>
  <body>
    <h1>App Fountain</h1>
    <% if (errorMessage) { %>
      <p><%= errorMessage %></p>
    <% } %>
    
    <!-- password-change.ejs -->
    <form method="POST" action="/change-password">
    <label for="currentPassword">Contraseña Actual:</label>
    <input type="password" name="currentPassword" id="currentPassword" required>
    <br>
    <label for="newPassword">Nueva Contraseña:</label>
    <input type="password" name="newPassword" id="newPassword" required>
    <br>
    <button type="submit">Change Password</button>
    </form>

  </body>
</html>